# Node.js dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js build output
/.next
/out

# TypeScript cache and build artifacts
*.tsbuildinfo

# ESLint cache
.eslintcache

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local